@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Rubik+Dirt&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline-section {
  background-color: #000000;
  min-height: 100vh;
  padding: 100px 15px;
  overflow: hidden;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: '';
  position: fixed;
  left: 90.6%;
  width: 2px;
  height: 60%;
  background-color: #ffffff;
}

.timeline-item {
  margin-bottom: 7em;
  width: 100%;
  position: relative;
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background: #ff6f00;
  position: absolute;
  left: calc(90%);
  border-radius: 50%;
  cursor: pointer;
}

.timeline-dot:nth-child(2) {
  top: calc(15%);
  position: fixed;
}

.timeline-dot:nth-child(3) {
  top: calc(30%);
  position: fixed;
}

.timeline-dot:nth-child(4) {
  top: calc(45%);
  position: fixed;
}

.timeline-dot:nth-child(5) {
  top: calc(60%);
  position: fixed;
}

.timeline-dot:nth-child(6) {
  top: calc(75%);
  position: fixed;
}

@media(max-width: 767px) {
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }
}


/* ------------------------------------------ */
/* Gura */
.gura-title {
  color: #ffffff;
  position: relative;
  font-size: 3.5em;
  margin-top: 0;
  font-family: 'Averia Serif Libre', cursive;
}

.gura-img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin-top: 3em;
}

.gura-self-intro {
  font-size: 3em;
  color: white;
  left: 43%;
  position: absolute;
  font-family: 'Averia Serif Libre', cursive;
}

.gura-self-intro-content {
  color: white;
  font-size: 1.5em;
  max-width: 590px;
  left: 35%;
  top: 50%;
  position: relative;
  font-family: 'Averia Serif Libre', cursive;
}

.gura-link {
  font-size: 1.5em;
  left: 40%;
  top: 85%;
  position: relative;
  list-style-type: none;
  display: flex;
}

.gura-youtube a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 150%;
  border-radius: 10px;
  border: 3px solid #ffffff;

  /* animation */
  background: linear-gradient(to right, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.gura-youtube a:hover {
  background-position: left bottom;
}

.gura-youtube a:visited {
  color: #ffffff;
}


.gura-youtube p {
  margin-left: 10px;
  transition: all .4s ease-out;
  position: relative;
}

.gura-youtube p:hover {
  color: black;
}


.fa-youtube-play {
  color: rgb(255, 0, 0);
}

.gura-twitter {
  margin-left: 5em;
}

.gura-twitter a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 175%;
  border-radius: 10px;
  border: 3px solid #ffffff;

  /* animation */
  background: linear-gradient(to right, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.gura-twitter a:hover {
  background-position: left bottom;
}

.gura-twitter a:visited {
  color: #ffffff;
}

.gura-twitter p {
  margin-left: 10px;
  transition: all .4s ease-out;
  position: relative;
}

.gura-twitter p:hover {
  color: black;
}

.fa-twitter {
  color: rgb(255, 0, 0);
}


/* ----------------------------------- */
/* Gura Info */

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.gura-info-page {
  height: 100vh;
  background-color: #474747;
  overflow: hidden;
}

.gura-info {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;

  /* animation */
  animation: fadeInLeft 1s ease-out;
}

.gura-info p {
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
  line-height: 2.5em;

  /* animation */
  animation: fadeInLeft 1.2s ease-out;
}

.gura-info-title {
  font-size: 3em;
  font-family: 'Courgette', cursive;
  margin-top: 1em;
  margin-right: 12em;
}

.gura-property-frame {
  background-color: rgb(40, 36, 36);
  width: 30%;
  border-radius: 10px;
  opacity: 0.85;
  margin-top: 3em;
  margin-left: 10em;
}

.layer {
  position: absolute;
  border-color: rgba(0, 217, 255, 0.543);
  border-style: solid;
  border-width: 1px;

  width: 30%;
  height: 80%;
  left: 15%;
  top: 25%;
  border-radius: 10px;
  box-shadow: #fafafa 0px 0px 10px 0px;
}

.gura-selfie {
  position: absolute;
  top: -10%;
  left: 50%;
  width: 25em;
  height: 40em;

  animation: fadeInLeft 2s ease-out;
}

/* ----------------------------- */
/* Gura video page */
.gura-video-page {
  height: 100vh;
  background-color: #474747;
  overflow: hidden;
}

.gura-video-page-title {
  position: relative;
  background-color: red;
  width: 75%;
  height: 12%;
  margin-top: 3.5em;
  margin-right: 3em;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-family: 'Federo', sans-serif;

  /* animation */
  animation: fadeInLeft 1s ease-out;
}

.gura-video-page-title h2 {
  font-size: 3.8em;
  color: white;
  margin-left: 2em;
  position: absolute;
  margin-top: -3%;
  letter-spacing: 15px;
  text-transform: uppercase;
  animation: fadeInLeft ease-out 3s;
}

.gura-video-container {
  width: 100%;
  height: 100%;
}


.gura-video-list {
  list-style: none;
  display: flex;
  margin-left: 3em;
}

.gura-video {
  background-color: rgb(49, 94, 138);
  width: 20%;
  border-radius: 20px;
  margin-left: 4em;
  margin-top: 5em;

}

.gura-video:hover {
  transform: scale3d(1.02, 1.02, 1.02);
  transition: all 0.5s ease-in-out;
}

/* ---- */
/* graphics */
.gura-A {
  width: 90%;
  height: 7.4em;
  margin-top: 1.5em;
  margin-left: 0.8em;
  border-radius: 15px;
}

.gura-math {
  width: 90%;
  margin-top: 1.5em;
  margin-left: 0.8em;
  border-radius: 15px;
  height: 7.4em;
}

.gura-sing {
  width: 90%;
  margin-top: 1.5em;
  margin-left: 0.8em;
  border-radius: 15px;
  height: 7.4em;
}

/* ------- */

.gura-video-link {
  text-decoration: none;
  color: white;
}

.gura-video-label {
  background-color: rgba(255, 255, 255, 0.767);
  color: black;
  border: 1.3px solid black;
  width: 22%;
  margin-left: 1em;
  margin-top: 0.5em;
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
}

.gura-video-content {
  margin-top: 0.7em;
  margin-bottom: 3.5em;
  margin-left: 1em;
  font-size: 1.2em;
  width: 85%;
  height: 30%;
  font-family: 'Averia Serif Libre', cursive;
}